.card {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.25s;
    text-align: center;
}

.card:hover .overlay {
    opacity: 1;
}
