:global(.swiper-slide) {
    height: auto;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
    top: 0;
    bottom: 0;
    height: 100%;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    margin-top: 0;
    color: var(--white);
}

:global(.swiper-button-prev) {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
}

:global(.swiper-button-next) {
    right: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
}

:global(.swiper-button-prev.swiper-button-disabled),
:global(.swiper-button-next.swiper-button-disabled) {
    opacity: 0;
}
