.nav {
    margin: 2.4rem 0;
    display: flex;
    gap: 1.6rem;
}

.link {
    cursor: pointer;
    appearance: none;
    background: transparent;
    border: 0 none;
    font-weight: 600;
    text-decoration: none;
    transition: color .2s ease;
}

.link:hover {
    color: rgba(32, 224, 139, .8);
}

.link:focus-visible {
    color: rgba(32, 224, 139, .8);
    outline: solid .2rem var(--main);
}

.link:active {
    color: rgba(32, 224, 139, .9);
}

.active {
    color: var(--main);
}

@media screen and (min-width: 480px) {
    .link {
        font-size: 2.4rem;
    }
}